{% load static %}

<!-- Navbar -->
<nav class="box-padding navbar">
  <a class="navbar-brand" href="{% url 'main' %}">
    <img
      src="{% static 'icon/logo-black.svg' %}"
      alt="site-logo"
    />
  </a>

  <div class="navbar-content">
    <ul class="navbar-list">
      <li
        class="
          list-item
          {%
          if
          request.path
          ==
          '/'
          %}list-item-active{%
          endif
          %}
        "
      >
        <a href="{% url 'main' %}" class="i18n" data-i18n-id="home">Home</a>
      </li>
      <li class="list-item">
        <a href="">Lorem ipsum</a>
      </li>
      <li
        class="
          list-item
          {%
          if
          request.path
          ==
          '/news'
          %}list-item-active{%
          endif
          %}
        "
      >
        <a href="" class="i18n" data-i18n-id="news">News</a>
      </li>
      <li class="list-item"><a href="">Amon vitalor</a></li>
    </ul>
    <div class="navbar-i18n-btn">
      <p class="current-lang i18n" data-i18n-id="lang">
        ENG
      </p>
    </div>

    <!-- Responsive -->
    <div class="navbar-collpase-btn">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <aside class="navbar-sidebar">
      <ul class="sidebar-list">
        <li
          class="
            list-item
            {%
            if
            request.path
            ==
            '/'
            %}list-item-active{%
            endif
            %}
          "
        >
          <a
            href="{% url 'main' %}"
            class="i18n"
            data-i18n-id="home"
            >Home</a
          >
        </li>
        <li
          class="
            list-item
            {%
            if
            request.path
            ==
            '/news'
            %}list-item-active{%
            endif
            %}
          "
        >
          <a href="">Lorem ipsum</a>
        </li>
        <li class="list-item"><a href="" class="i18n" data-i18n-id="news">News</a></li>
        <li class="list-item">
          <a href="">Amon vitalor</a>
        </li>
      </ul>
      <div class="navbar-collpase-btn">
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </aside>
  </div>

  <!-- Break the overflow limit -->
  <ul class="i18n-list">
    <!-- Data from navbar.js -->
  </ul>
</nav>
